
ADictionaryAlpha/\.gradle/

ADictionaryAlpha/\.idea/

ADictionaryAlpha/app/build/

ADictionaryAlpha/ADictionaryAlpha\.iml

ADictionaryAlpha/local\.properties

ADictionaryAlpha/app/app\.iml

ADictionaryAlpha/bigHugeLabsLib
